.navbar-nav > li > a.active {
    border-bottom: 2px solid #666;
    padding-bottom: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eee;
}

select {
    font-family: inherit;
    background-color: transparent;
    width: 80%;
    margin: 10px 10%;
    padding: 10px 20px;
    font-size: 25px;
    color: #666;
    border: none;
    border-bottom: 2px solid #666;
}

/* Remove focus */
select:focus {
    outline: none}

.warning-text {
    margin-bottom: 30px;
    width:100%;
    text-align: center;
}

.warning-text p {
    max-width: 80%!important;
    margin: 0 auto;
}

.alert-danger {
    padding: 30px 50px;
    border-left: 5px solid #a94442;
}

.alert-success {
    padding: 30px 50px;
    border-left: 5px solid #3c763d;
}

.warning-text .alert-success{
    /*max-height:0;*/
    overflow: hidden;
    -moz-animation: slide 1s ease 5s forwards;
    -webkit-animation: slide 1s ease 5s forwards;
    -o-animation: slide 1s ease 5s forwards;
    -ms-animation: slide 1s ease 5s forwards;
    animation: slide 1s ease 5s forwards;
}

.warning-text .alert-danger {
    /*max-height:0;*/
    overflow: hidden;
    -moz-animation: slide 1s ease 15s forwards;
    -webkit-animation: slide 1s ease 15s forwards;
    -o-animation: slide 1s ease 15s forwards;
    -ms-animation: slide 1s ease 15s forwards;
    animation: slide 1s ease 15s forwards;
}


@-moz-keyframes slide /* Firefox */
{
    from {max-height: 23px; padding: 1px 1px 1px 30px;}
    to {max-height: 0; padding: 0;}
}

@-webkit-keyframes slide /* Safari and Chrome */
{
    from {max-height: 23px; padding: 1px 1px 1px 30px;}
    to {max-height: 0; padding: 0;}
}

@-o-keyframes slide /* Opera */
{
    from {max-height: 23px; padding: 1px 1px 1px 30px;}
    to {max-height: 0; padding: 0;}
}

@-ms-keyframes slide /* IE10 */
{
    from {max-height: 23px; padding: 1px 1px 1px 30px;}
    to {max-height: 0; padding: 0;}
}

@keyframes slide
{
    from {max-height: 23px; padding: 1px 1px 1px 30px;}
    to {max-height: 0; padding: 0;}
}